{% extends "base.html" %}
{% block content %}
<h1 class="h4">Register User</h1>
<form method="post">
  <div class="row g-3">
    <div class="col-md-3">
      <label class="form-label" for="student_code">Student Code</label>
      <input class="form-control" id="student_code" name="student_code" type="text">
    </div>
    <div class="col-md-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" id="email" name="email" type="email" required>
    </div>
    <div class="col-md-3">
      <label class="form-label" for="first_name">First Name</label>
      <input class="form-control" id="first_name" name="first_name" type="text" required>
    </div>
    <div class="col-md-3">
      <label class="form-label" for="last_name">Last Name</label>
      <input class="form-control" id="last_name" name="last_name" type="text" required>
    </div>
    <div class="col-md-3">
      <label class="form-label" for="role">Role</label>
      <select class="form-select" id="role" name="role">
        <option value="student">Student</option>
        <option value="issuer">Issuer</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" id="password" name="password" type="password" minlength="6" required>
    </div>
  </div>
  <div class="mt-3">
    <button class="btn btn-success">Create</button>
  </div>
</form>
{% endblock %}
